[Unit]
Description=Lock the screen on resume from suspend

[Service]
User=koyu
Type=forking
Environment=DISPLAY=:0
ExecStart=/usr/bin/i3lock-koyu

[Install]
WantedBy=sleep.target
WantedBy=suspend.target
