configuration {
  modi: "window,drun,ssh,combi";
  theme: "koyu";
  font: "Monospace 10";
  ssh-client: "ssh";
  ssh-command: "gnome-terminal -- {ssh-client} {host}";
  combi-modi: "window,drun,ssh";
}
